{% extends 'template_base.html' %}

{% block style %}
<link rel="stylesheet" href="../../static/login.css">
<link rel="stylesheet" href="../../static/base.css">
{% endblock %}


    {% block nav %}
    
    {% if nome %}
            <a href="{{ url_for('medicos.logout') }}">Logout</a>
        
    {% endif %}


    {% endblock %}

    {% block conteudo %}

    <div class="conteudo">
        <div class="card"> 
            <h1>Faça o Login:</h1>
            <form action="{{ url_for('medicos.login') }}" method="post">
                <label for="email">Email:</label>
                <input type="text" name="email" placeholder="Email:">
                <label for="senha">Senha:</label>
                <input type="password" name="senha" placeholder="Senha:">
                <input id='bt_enviar' type="submit" value="Enviar">
            </form>

        </div>

    </div>
       
        
    {% endblock %}