<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locadora de Veículos</title>
</head>
<body>
    <h1>Bem-vindo à Locadora de Veículos</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('cadastrar_cliente') }}">Cadastrar Cliente</a></li>
            <li><a href="{{ url_for('cadastrar_veiculo') }}">Cadastrar Veículo</a></li>
            <li><a href="{{ url_for('cadastrar_locacao') }}">Cadastrar Locação</a></li>
            <li><a href="{{ url_for('listar') }}">Listar Clientes, Veículos e Locações</a></li>
        </ul>
    </nav>
</body>
</html>