* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;

}
#conteudo{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    height: 12%;
    border-bottom: 1px solid black;
}
nav {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: pink;
    width: 130px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 18px;
    border: 1px solid black;

}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: whitesmoke;
    align-items: center;
    height: 88%;
    border-bottom: 1px solid black;
}