.conteudo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
}
.card {
    width: 50%;
    height: 50%;
    background-color: rgb(133, 168, 220);
    padding: 60px;

}

.card h1, p {
    margin: 12px;
    padding-bottom: 30px;
}

.card h2 a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: pink;
    color: black;
}