{% extends 'template_base.html' %}

    {% block conteudo %}
        <aside>
            
        </aside>
        <section>
            <div class="jogos">

                <div id="trilha">
                    <h2>Trilha da raposa</h2>
                    <img src="static/imgs/jogo-trilha.png" alt="">
                    <h4>Trilha: Ajude Nikki a chegar nas suas amigas galinhas.</h4>
                </div>
                <div id="quebra-cabeca">
                    <h2>Quebra-cabeça</h2>
                    <img src="static/imgs/jogo-quebra-c.png" alt="">
                    <h4>Quebra-Cabeça: Resolva problemas matemáticos para desbloquear imagens</h4>
                </div>
                <div id="quiz">
                    <h2>Quiz matemático</h2>
                    <a href="{{url_for('Inicial_quiz')}}">
                        <img src="static/imgs/jogo-quiz.png" alt="">
                    </a>
                    
                    <h4>Quiz matemático: Responda o máximo de questões corretamente.</h4>
                </div>
            </div>
        </section>
        <footer>
            @2024
        </footer>
    </div>

    {% endblock %}