{% extends 'template_base.html' %}

{% block style %}
    <link rel="stylesheet" href="static/login.css">
{% endblock %}

{% block conteudo %}
    <div class="box">
        <h2>Cadastre-se</h2>
        <form action="{{ url_for('cadastro') }}" method="post">
            <input type="email" name="email" placeholder="email">
            <input type="password" name="senha" placeholder="senha">
            <input type="submit" value="Enviar">
        </form>
    </div>
        
{% endblock %}
