{% extends 'template_base.html' %}

{% block style %}
<link rel="stylesheet" href="static/ficha.css">
{% endblock %}

{% block header %}
<button id="login"><a href="{{url_for('index')}}">Voltar</a></button>
{% endblock %}

{% block conteudo %}
        <div class="box">
            <h2>FICHA DO PACIENTE</h2>
            <br>
            <br>
            <h2>informações pessoais</h2>
            <form action="">
                <input type="text" name="nome" placeholder="nome">
                <input type="date" name="data_nascimento" placeholder="data de nascimento">
                <input type="text" name="genero" placeholder="genero">
                <input type="text" name="endereco" placeholder="endereco">
                <input type="text" name="telefone" placeholder="telefone">
                <input type="email" name="email" placeholder="email">
            </form>
            <br>
            <h2>informações da consulta</h2>
            <form action="">
                <input type="text" name="motivo_consulta" placeholder="motivo da consulta">
                <input type="date" name="data_da_consulta" placeholder="data_da_consulta">
                <input type="text" name="historico_medico" placeholder="historico medico">
                <input type="text" name="medicamentos_em_uso" placeholder="medicamentos em uso">
            </form>
            <br>
        </div>
{% endblock %}
