{% extends 'template_base.html' %}

{% block style %}
<link rel="stylesheet" href="static/index.css">
{% endblock %}

{% block header %}
<button id="login"><a href="">login</a></button>
{% endblock %}

{% block conteudo %}
            <div class="box">
                <div id="quadrado">
                    <h4>Marcar consulta</h4>
                    <button><a href="{{url_for('marcar_consulta')}}">Entrar</a></button>
                </div>
                <div id="quadrado">
                    <h4>Ficha do Paciente</h4>
                    <button><a href="{{url_for('ficha')}}">Entrar</a></button>
                </div>
                <div id="quadrado">
                    <h4>Consultas agendadas</h4>
                    <button><a href="{{url_for('agendadas')}}">Entrar</a></button>
                </div>
            </div>
{% endblock %}
