<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Médica</title>
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
    {% block style %}

    {% endblock %}
</head>
<body>
    <header>
        <h1>AGEMED</h1>
        <button id="login"><a href="">login</a></button>
    </header>
    <div class="container">
        <section>
            {% block conteudo %}
                
            {% endblock %}
        </section>
    </div>
</body>