{% extends 'template_base.html' %}

    {% block style %}
        <link rel="stylesheet" href="../static/login.css">
    {% endblock %}

    {% block content %}

    <section>

        <form action="{{ url_for('login') }}" method="post">

            <h2>Faça o Login</h2>
            <label>Digite o nome: </label>
            <input type="text" name="nome" placeholder="Nome:">
            <label>Digite o usuário: </label>
            <input type="email" name="usuario" placeholder="Usuário:">
            <label>Digite a senha: </label>
            <input type="password" name="senha" placeholder="Senha:">
            <input type="submit" value="Enviar" id="bt_login">
        </form>
        
    </section>

    {% endblock %}